# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.agent
.augment
.claude
.cursor
.docker
.gitignore
.idea
.vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea
.vscode

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
